In [4]:
import pandas as pd
df = pd.read_csv('../raw_data.txt', sep='\t')

In [46]:
df['unit_name']

0          unit_1
1          unit_1
2          unit_1
3          unit_1
4          unit_1
5          unit_1
6          unit_1
7          unit_1
8          unit_1
9          unit_1
10         unit_1
11         unit_1
12         unit_1
13         unit_1
14         unit_1
15         unit_1
16         unit_1
17         unit_1
18         unit_1
19         unit_1
20         unit_1
21         unit_1
22         unit_1
23         unit_1
24         unit_1
25         unit_1
26         unit_1
27         unit_1
28         unit_1
29         unit_1
            ...
7293830    unit_3
7293831    unit_3
7293832    unit_3
7293833    unit_3
7293834    unit_3
7293835    unit_3
7293836    unit_3
7293837    unit_3
7293838    unit_3
7293839    unit_3
7293840    unit_3
7293841    unit_3
7293842    unit_3
7293843    unit_3
7293844    unit_3
7293845    unit_3
7293846    unit_3
7293847    unit_3
7293848    unit_3
7293849    unit_3
7293850    unit_3
7293851    unit_3
7293852    unit_3
7293853    unit_3
7293854    unit_3
7293855    unit_3
7293856    unit_3
7293857    unit_3
7293858    unit_3
7293859    unit_3
Name: unit_name, Length: 7293860, dtype: object